* {
box-sizing: border-box;
}
body {
background-color: #FDF4E3;
color: #fff;

font-family: 'Roboto Condensed', sans-serif;
font-size: 18px;
line-height: 21px;
}

a {
color: inherit; /* поставить приоритет наследовать от   */
text-decoration: none; /* убрать подчеркивание у ссылок */
}

ul {
list-style: none;
}

.container {
max-width: 1230px;
padding: 0 15px;
margin: 0 auto;
}


.header {
background-image: url('../images/header-bg1.jpg');
height: 100vh; /* 100% висоты екрана  */
background-repeat: no-repeat;
background-size: cover; /* позволяет масштабировать изображения  */
background-position: center 50px;
text-align: center;
position: relative;
}
.header::after {
content:'';
position: absolute;
height: 50px;
bottom: 0;
left: 0;
width: 100%;
background: linear-gradient(180deg, #FDF4E3 0%, rgba(253, 244, 227, 0.850295) 16.53%, rgba(32, 31, 33, 0) 100%);
transform: rotate(180deg);
}

.menu {
padding: 50px 0 58px;
background: linear-gradient(180deg, #FDF4E3 0%, #FDF4E3 43.62%, rgba(32, 31, 33, 0) 86.33%);
}
.menu__list {
display: flex; /* Выровнять один за другим  */
justify-content: center;
}

.menu__list__item {
padding: 0 13px;
}

.menu__list_link {
text-shadow: rgb(175, 149, 149) 0 0 2px;    
font-weight: 700;   
font-size: 36px;
line-height: 42px;
color: rgb(0, 0, 0);   
}

.menu__list_link:hover {
color:#ff7c02;
text-decoration: underline; /* Чтоб появилась линия под ссылкой  */
}

.menu__text-title {
padding-top: 10vh; 
color: #ffffff;
text-shadow: #000000 1px 1px 0, #000000 2px 2px 0, #000000 3px 3px 0, #000000 4px 4px 0, #000000 5px 5px 0;
font-size: 100px;
line-height: 100px;
font-weight: 700; 
} 
.text-title-inner {
text-shadow: rgb(224, 224, 224) 0 0 2px; 
font-weight: 700;
color: #313030;    
padding-top: 8vh;
font-size: 50px;
line-height: 55px;   
}

.block {
padding-top: 15vh;
justify-content: center;
display: flex;  
}

.block-text {
font-weight: 700;
font-size: 30px;
line-height: 30px; 
text-shadow: rgb(3, 3, 3) 0 0 2px; 
color: #f3c83c ;   
pointer-events: none;
position: relative;
}

.block__image {  
margin-top: -2vh; 
width: 60px;
height: 50px;
padding-left: 20px;
}

.servise__text-title {
 font-size: 40px;
 line-height: 40px;
 color:  #252525  ; 
 text-shadow: rgb(109, 108, 108) 0 0 2px; 
 margin-top: 150px;
 text-align: center;
 margin-bottom: 100px;
}

.grid-container__service {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
grid-gap: 75px 75px;
padding-top: 50px; 
grid-auto-rows: auto;
position: relative;
justify-content: center;
align-items: center; 
}

.sevise__text-inner {
margin-top: 25px;  
font-size: 30px;
line-height: 35px;
color: #0e0e0e;  
text-shadow: rgb(243, 168, 69) 0 0 2px;
}

.block__servise {
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
justify-content: center;
align-items: center; 
}

.sevise__img {
display:block;
margin: auto;
align-items: center; 
height: 150px;
width: 150px;
}




.seasons__inner {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
grid-gap: 75px 75px;
padding-top: 50px;
list-style: none;
}

.seasons__item {
height: 80px; 
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.servise__text {
font-size: 20px;
line-height: 25px;
padding: 12px 78px 11px ;
color: #0E0E0E;  
}












@media (max-width:1000px)  {
    .menu__list_link {
    font-weight: 400;   
    font-size: 30px;
    line-height: 35px;
    }
    .menu__text-title {
    font-size: 80px;
    line-height: 80px;
    }
    .text-title-inner {
    font-size: 38px;
    line-height: 40px;
    }
    .block-text {
    font-size: 25px;
    line-height: 25px;
    }
    .block__image {
    margin-top: -1vh;  
     width: 50px;
     height: 40px;   
    }
}

@media (max-width:770px) {
  .menu__list_link {
    font-weight: 400;   
    font-size: 25px;
    line-height: 15px;
    }  
    .text-title-inner {
    font-size: 28px;
    line-height: 30px;
    }
   
} 

@media (max-width:560px) {
.block {
  display: block;
  padding-top: 30px;
}
.block__image {
  padding-top: 10px;
}
.text-title-inner{
font-size: 23px;
line-height: 25px;
padding-top: 30px;
}

.menu__text-title {
font-size: 60px;
line-height: 60px;
padding-top: 5vh;
}

.menu {
padding: 5px 0 18px;
}

.menu__list{  
display: none;
}
}

@media (max-width:330px) {
.menu__text-title {
  font-size: 50px;
  line-height: 50px;
}
}